@charset "UTF-8";
.lt_sort{
    height: 30px;
    background-color: #eee;
    width: 100%;
    line-height: 30px;
    font-size: 12px;
}
.lt_sort li{
    width: 25%;
    float: left;
    text-align: center;
}
.lt_sort li a{
    display: block;
    width: 100%;
    height: 100%;
    color: #666;
}
.lt_sort a.now{
   color: darkorange;
}